button-group-radio {
    display: flex;
}

:host ::slotted(input[type="radio"]) {
    position: relative;
    width: 90px;
    height: 90px;
    padding: 10px;
    border: 1px red solid;
    background: #EEEEEE;
    -webkit-appearance: none;
}

:host ::slotted(input[type="radio"]:checked) {
    // width: 50px;
    background: #DDDDDD;
}

:host ::slotted(label) {
    margin-left: -40px;
    margin-top: 30px;
    z-index: 100;
    // position: absolute;
}